<div class="field field--address">
    <label class="field__label">{{label}}</label>
    <div class="field__controls">
        <span class="input-wrapper">
            <input type="text" {{#if inputHint}}placeholder="{{inputHint}}"{{/if}} autocomplete="one-time-code" autocorrect="off" value="{{addressValue}}">
            {{clearButton}}
            <div class="address-more btn btn--secondary fast-click-highlighted">...</div>
        </span>
        <div class="address-dd"></div>
    </div>
</div>
